*~
*#
#*
*.bak
*.BAK.qsys
*.wlf
*.qws
*.map
*.objdump
*.elf
*.a
*.o
*.d
*.elf
*.dbg
*.bsf
*.cmp
*.bsf
*lutmem.hex
*.asv
*_sim.f
*_bb.v
*.force_rebuild




db/
/output_files/*
.qsys_edit/
.settings/
work/

/greybox_tmp/
/incremental_db/

transcript
modelsim.ini

!/output_files/*.sof
!/output_files/*.jic
!/output_files/*.cof
/qsys/software/aboard/*.force_relink
/docs/*.ldb
/output_files/*.cof
/*.rpt
